/* Podstawowe style strony */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9b1;
    color: #333;
}

#searchFormContainer {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
}

#searchForm {
    width: 100%;
}

#searchForm .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

#searchForm label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}

#searchForm input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 100%;
    max-width: calc(100% - 24px);
    margin-bottom: 10px;
}

#searchForm button {
    background-color: #28a745;
    color: white;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    border: none;
    margin-top: 20px;
}

#searchForm button:hover {
    background-color: #218838;
}

/*Pasek wyszukiwania (po wyszukaniu) */
.search-bar {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    box-sizing: border-box;
}

/*Formularz w pasku wyszukiwania */
.search-bar form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-bar input,
.search-bar button {
    margin: 5px;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.search-bar button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
}

.search-bar button:hover {
    background-color: #218838;
}


#resetFilters {
    background-color: #d0d5d8; 
    color: #333;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}


#resetFilters:hover {
    background-color: #bac2c3;
}


#searchFormContainer.hidden {
    display: none;
}

/*Tło informacji o wybranych filtrach */
#filterInfo {
    margin-bottom: 20px;
    text-align: center;
}

.filter-background {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    box-sizing: border-box;
}

#selectedFilters {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

/*Przyciski w tabeli */
.action-buttons button {
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center; 
    align-items: center; 
}


.editButton {
    background-color: #3498db;
    color: white;
}

.editButton:hover {
    background-color: #2980b9;
}

.detailsButton {
    background-color: #f39c12;
    color: white;
}

.detailsButton:hover {
    background-color: #e67e22;
}

.deleteButton {
    background-color: #e74c3c; 
    color: white;
}

.deleteButton:hover {
    background-color: #c0392b;
}

/* Tabela wyników */
table {
    width: calc(100% - 60px);
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 8px;
    border-collapse: collapse;
    overflow: hidden;
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

tr:hover {
    background-color: #f9f9f9;
}

#results p {
    font-size: 18px;
    color: #ff0000;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    box-sizing: border-box;
}

#results-header,
#recommendations {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    box-sizing: border-box;
}

#recommendations {
    background-color: #b7eea8;
    border: #94df9b 1px;
}

.form {
    background-color: #f0f0f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    color: #333;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
}

.form input[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.form input[type="submit"]:hover {
    background-color: #2980b9;
}

.add-movie-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    float: right;
}

.add-movie-button:hover {
    background-color: #2980b9;
}

#resultsTable a {
    color: #0000FF;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}

#resultsTable a:hover {
    color: #1E90FF;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 4px;
}

#addMovieForm, 
#editMovieForm,
#detailsMovieForm {
    width: 55%;
    min-width: 300px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.alert-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.alert-box h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.movie-info {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.button-group button {
    width: 100%;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.add-new-button {
    background-color: #3498db;
    color: white;
}

.add-new-button:hover {
    background-color: #2980b9;
}

.cancel-button {
    background-color: #28a745;
    color: white;
}

.cancel-button:hover {
    background-color: #218838;
}

.container h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    margin-left: 22%;
    padding-left: 15px;
}

#addMovieForm label,
#editMovieForm label,
#detailsMovieForm label {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
    color: #333;
}

#addMovieForm input[type="text"],
#addMovieForm input[type="number"],
#detailsMovieForm input[type="text"],
#detailsMovieForm input[type="number"],
#editMovieForm input[type="text"],
#editMovieForm input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #49b04c;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

#addMovieForm input[type="submit"]:hover {
    background-color: #60bb64;
}

#editMovieForm input[type="submit"]:hover {
    background-color: #60bb64;
}

#detailsMovieForm  input:disabled {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
    border: 1px solid #ddd;
}

#detailsMovieForm .action-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
}

#detailsMovieForm button {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#detailsMovieForm #editButton {
    background-color: #3498db;
    color: white;
}

#detailsMovieForm #editButton:hover {
    background-color: #2980b9;
}

#detailsMovieForm #deleteButton {
    background-color: #ff0000;
    color: white;
}

#detailsMovieForm #deleteButton:hover {
    background-color: #c0392b;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 3%;
    margin-left: 3%;
}

.back-button:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    #searchFormContainer .form-group,
    #searchFormContainerTop .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    #searchFormContainer label,
    #searchFormContainerTop label {
        padding-right: 0;
    }

    #searchFormContainer input,
    #searchFormContainerTop input,
    #searchFormContainer button,
    #searchFormContainerTop button {
        flex: 1;
        margin-bottom: 10px;
    }

    .action-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px; 
        justify-content: center; 
        align-items: center; 
    }
}
