<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Film</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <a href="/" class="back-button">&#8592; Wszystkie Filmy</a> 
        <h1>Dodaj Nowy Film</h1>

        <!-- Formularz dodawania filmu -->
        <form id="addMovieForm" method="POST" action="{{ url_for('add_movie') }}">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" required>
        
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" required>
        
            <label for="actors">Actors (comma separated, e.g., Brad Pitt, Leonardo DiCaprio):</label>
            <input type="text" id="actors" name="actors" required>
            
        
            <label for="director">Director:</label>
            <input type="text" id="director" name="director" required>
        
            <button type="submit" id="btn-submit">Add Movie</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
