<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj Film</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <a href="/" class="back-button">&#8592; Wszystkie Filmy</a>
        <h1>Edytuj Film {{ movie.title }}</h1>

        <!-- Formularz edytowania filmu -->
        <form id="editMovieForm" method="POST" action="{{ url_for('edit_movie', movie_title=movie.title) }}">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ movie.title }}" required>

            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" value="{{ movie.genre }}" required>

            <label for="year">Year:</label>
            <input type="number" id="year" name="year" value="{{ movie.year }}" required>

            <label for="actors">Actors (comma separated, e.g., Brad Pitt, Leonardo DiCaprio):</label>
            <input type="text" id="actors" name="actors" value="{{ movie.actors | default([]) | join(', ') }}" required>

            <label for="director">Director:</label>
            <input type="text" id="director" name="director" value="{{ movie.director }}" required>

            <button type="submit" id="btn-submit">Zapisz Zmiany</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='edit-movie.js') }}"></script>
</body>
</html>
