<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szczegóły Filmu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <a href="/" class="back-button">&#8592; Wszystkie Filmy</a>
        <h1>Szczegóły Filmu</h1>
    </div>
    
    <div class="form-container">
        <form id="detailsMovieForm">
            <label for="title">Tytuł:</label>
            <input type="text" id="title" name="title" value="{{ movie.title }}" disabled>
    
            <label for="genre">Gatunek:</label>
            <input type="text" id="genre" name="genre" value="{{ movie.genre }}" disabled>
    
            <label for="year">Rok produkcji:</label>
            <input type="number" id="year" name="year" value="{{ movie.year }}" disabled>
    
            <label for="actors">Aktorzy:</label>
            <input type="text" id="actors" name="actors" value="{{ movie.actors | join(', ') }}" disabled>
    
            <label for="director">Reżyser:</label>
            <input type="text" id="director" name="director" value="{{ movie.director }}" disabled>
    
            <div class="action-buttons">
                <button id="editButton" type="button" onclick="window.location.href='{{ url_for('edit_movie', movie_title=movie.title) }}';">Edytuj</button>
                <button id="deleteButton" type="button" class="deleteButton" onclick="confirmDelete()">Usuń</button>
            </div>
        </form>
    </div>
    
    <!-- Tabela rekomendacji -->
    {% if recommendations %}
        <h2 id="recommendations">Rekomendacje</h2>
        <div class="recommendations-container">
            <table id="recommendationsTable">
                <thead>
                    <tr>
                        <th>Tytuł</th>
                        <th>Gatunek</th>
                        <th>Reżyser</th>
                        <th>Aktorzy</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in recommendations %}
                        <tr>
                            <td>{{ movie.title }}</td>
                            <td>{{ movie.genre }}</td>
                            <td>{{ movie.director }}</td>
                            <td>{{ movie.actors | join(', ') }}</td>
                            <td class="action-buttons">
                                <button class="detailsButton" onclick="window.location.href='/movie/{{ movie.title }}'">Szczegóły</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Brak rekomendacji.</p>
    {% endif %}
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        // Funkcja potwierdzenia usunięcia
        function confirmDelete() {
            if (confirm("Czy na pewno chcesz usunąć ten film?")) {
                window.location.href = "/delete/{{ movie.title }}";
            }
        }
    </script>
    